* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.vivo{
    background-color: cadetblue;
    padding: 10px;

}

h1 {
color: white;
background-color: brown;
width: fit-content;
margin: 0 auto;
padding: 10px;
}

.ramka{
    border: 3px solid red;
    background-color: black;
    width: fit-content;
    margin: 20px auto;
} 

.p , .m {
    background-color: aqua;
    margin: 15px 20px;
    padding: 20px 15px;
    width: fit-content;

}

